body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 100%;
    background-color: rgb(255, 250, 245);
}

#speciale{
    background-color: orange;
    margin-right: 500px;
    padding-left: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.nom {
    text-align: center;
}

.sujet {
    text-align: center;
}

.menu{
    background-color: orange;
    border: 0cm;
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.bouton{
    width: 150px;
    height: 25px;
    background-color: orange;
    text-align: center;
    margin-right:20px;
    border-radius: 5px;
    display: block;
    float: right;
}

.prez {
    background-color: orange;
    width: 800px;
    height: 200px;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 5px;
}

.resume {
    background-color: orange;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}

.signature {
    background-color: white;
    border: solid orange;
    align-items: center;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.image {
    margin-left: 100px;
}

.prof {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.bas {
    margin-top: 170px;
}

#dehors {
    margin: auto;
}

.contenu {
    text-align: center;
    align-items: center;
}

.metier {
    background-color: orange;
    margin: auto;
    width: 1000px;
    height: 350px;
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
}

.modif {
    background-color: orange;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 1000px;
    text-align: justify;
    border-radius: 5px;
}

.orga {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    margin-left: 120px;
}

.personnel {
    background-color: orange;
    margin-left: 30px;
    margin-top: 50px;
    padding: 10px;
    width: 800px;
    margin-bottom: 100px;
    text-align: justify;
    border-radius: 5px;
}

#commun {
    color: rgb(86, 86, 150);
}

#presi {
    margin-top: 60px;
}

legend {
    font-size: 10px;
}
.texte {
    background-color: orange;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-image: url("ye.jpg");
    background-size: 100% 100%;
}

.chrono{
    line-height:1.3em;
    min-width:920px;
}

.history-tl-container{
    font-family: "Roboto",sans-serif;
    width:450px;
    margin:auto;
    display:block;
    position:relative;
}

.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;
  
}

.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    border-left:1px dashed orange;
    padding:0 0 50px 30px;
    position:relative;
}

.history-tl-container ul.tl li:last-child{ 
    border-left:0;
}

.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: orange;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
  
}

.history-tl-container ul.tl li:hover::before{
    border-color:  orange;
    transition: all 1000ms ease-in-out;
}
 
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}

ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
    width:100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}
