body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 100%;
    background-color: rgb(255, 250, 245);
}
.header{background: orange;
    padding: 10px; 
    display: flex;
    color: white;
    align-items: center;
    position: fixed;
    width: 97.5%;
}
#speciale{
    background-color: orange;
    margin-right: 500px;
    padding-left: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.nom {
    text-align: center;
    padding-top:100px;
}

.sujet {
    text-align: center;
}
.menu{      
    color: white;
    font-size: 18px;
    padding: 20px;
    display: flex;
    margin-left: 400px;
}
.bouton{
    width: 150px;
    height: 25px;
    background-color: orange;
    text-align: center;
    margin-right:20px;
    border-radius: 5px;
    display: block;

}
.chiffre {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.prez {
    background-color: orange;
    width: 800px;
    height: 200px;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 5px;
}
.prez1 {
    background-color: orange;
    align-items: center;
    margin: auto;
    width: 1200px;
    height: 100px;
    padding-top: 20px;
    padding-bottom:30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    display: block;
    overflow: scroll;
}

.resume {
    background-color: orange;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-top:10px;
}

.signature {
    background-color: white;
    border: solid orange;
    align-items: center;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.signature1 {
    background-color: orange;
    align-items: right;
    border-radius: 5px;
    width: 300px;
    height: 180px;
    margin-left: 360px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top:20px;
    overflow: scroll;
}

.hel1 {
    background-color: orange;
    align-items: left;
    border-radius: 5px;
    width: 300px;
    height: 180px;
    margin-left: 360px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top:20px;
    display: block;
    overflow: scroll;
}

.jay {
    background-color: orange;
    align-items: center;
    width: 1000px;
    height: 120px;
    border-radius: 5px;
    margin: auto;
    padding-bottom:30px;
    padding-top:20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 300px;
}

.image {
    margin-left: 100px;
}

.image1 {
    margin-top: 60px;
}

.bas {
    margin-right: 30px;
    margin-left: 30px;
}

.pres {
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
}

.dist {
    margin-left: 100px;
}

.prof {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.prof1 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 50px;
}

.bas {
    margin-top: 170px;
}

#dehors {
    margin: auto;
}

.contenu {
    text-align: center;
    align-items: center;
    display: block;
}

.metier {
    background-color: orange;
    margin: auto;
    width: 1000px;
    height: 350px;
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
}

.modif {
    background-color: orange;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 1000px;
    text-align: justify;
    border-radius: 5px;
}

.orga {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    margin-left: 120px;
}

.personnel {
    background-color: orange;
    margin-left: 30px;
    margin-top: 50px;
    padding: 10px;
    width: 800px;
    margin-bottom: 100px;
    text-align: justify;
    border-radius: 5px;
}

#commun {
    color: rgb(86, 86, 150);
}

#presi {
    margin-top: 60px;
}

legend {
    font-size: 10px;
}
.texte {
    background-color: orange;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 30px;

}
#bilan{margin: auto;}
.header h1{position: fixed;}
.chrono{
    line-height:1.3em;
    min-width:920px;
}

.history-tl-container{
    font-family: "Roboto",sans-serif;
    width:450px;
    margin:auto;
    display:block;
    position:relative;
}

.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;
  
}

.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    border-left:1px dashed orange;
    padding:0 0 50px 30px;
    position:relative;
}

.history-tl-container ul.tl li:last-child{ 
    border-left:0;
}

.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: orange;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
  
}

.history-tl-container ul.tl li:hover::before{
    border-color:  orange;
    transition: all 1000ms ease-in-out;
}
 
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}

ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
    width:100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}
@media screen and (max-width: 600px){
    .bouton{min-width: 100px;
        margin-top: 10px;}
    #dehors img{width: 300px;}
    .header{display: flex;
        align-items: baseline;
        width: 96%;
    position:sticky}
    .header h1{position:sticky}
    .menu{display: block;
        margin-left: 0px;
    }
    .modif {
        width: 400px;
        padding: auto;
        text-align: center;
        overflow: hidden;
    }
    .metier {
        width: 400px;
        text-align: center;
        overflow: scroll;
    }
    .orga {
        margin-right: 50px;
        margin-left: 50px;
    }
    .prez {
        overflow: scroll;
        width: 400px;
    }
    .prof {
        display: block;
        align-items: center;
    }
    .img {
        margin: auto;
    }
    .signature {
        width: 400px;
        height: 700px;
    }
    .chiffre{margin:10px}
}
