body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 100%;
    background-color: rgb(255, 250, 245);
}

#speciale{
    background-color: orange;
    margin-right: 500px;
    padding-left: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.nom {
    text-align: center;
}

.sujet {
    text-align: center;
}

.menu{
    background-color: orange;
    border: 0cm;
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.bouton{
    width: 150px;
    height: 25px;
    background-color: orange;
    text-align: center;
    margin-right:20px;
    border-radius: 5px;
    display: block;
    float: right;
}

.prez {
    background-color: orange;
    width: 800px;
    height: 200px;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 5px;
}

.resume {
    background-color: orange;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}

.signature {
    background-color: white;
    border: solid orange;
    align-items: center;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.image {
    margin-left: 100px;
}

.prof {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.bas {
    margin-top: 170px;
}

#dehors {
    margin: auto;
}

.contenu {
    text-align: center;
    align-items: center;
}

.metier {
    background-color: orange;
    margin: auto;
    width: 1000px;
    height: 350px;
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
}

.modif {
    background-color: orange;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 1000px;
    text-align: justify;
    border-radius: 5px;
}

.orga {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    margin-left: 120px;
}

.personnel {
    background-color: orange;
    margin-left: 30px;
    margin-top: 50px;
    padding: 10px;
    width: 800px;
    margin-bottom: 100px;
    text-align: justify;
    border-radius: 5px;
}

#commun {
    color: rgb(86, 86, 150);
}

#presi {
    margin-top: 60px;
}

legend {
    font-size: 10px;
}