body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 100%;
}

#speciale{
    background-color: orange;
    margin-right: 500px;
    padding-left: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.nom {
    text-align: center;
}

.sujet {
    text-align: center;
}

.menu{
    background-color: orange;
    border: 0cm;
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.bouton{
    width: 150px;
    height: 25px;
    background-color: white;
    text-align: center;
    margin-right:20px;
    border-radius: 5px;
    display: block;
    float: right;
}

.prez {
    background-color: orange;
    width: 800px;
    height: 200px;
    padding-top: 50px;
    margin-top: 25px;
    border-radius: 5px;
}

.resume {
    background-color: orange;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 5px;
}

.signature {
    background-color: white;
    border: solid orange;
    align-items: center;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.image {
    margin-left: 50px;
}

.prof {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.bas {
    margin-top: 170px;
}

#dehors {
    margin: auto;
}

.contenu {
    text-align: center;
    align-items: center;
}
